# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

# Environment variables (這裡就是隱形斗篷！)
.env
.env.local
.env.*.local