
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 允許已登入的使用者讀寫自己的使用者資料
    match /users/{userId} {
      // 允許用戶讀取、創建、更新、刪除自己的文檔
      allow read: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null && request.auth.uid == userId;
      allow update: if request.auth != null && request.auth.uid == userId;
      allow delete: if request.auth != null && request.auth.uid == userId;
    }

    // 您可以在此處為其他資料集合新增規則
  }
}
